// loading

.loading-wrap {
	.size(100%);
	.transition(background-color .5s ease);
	.display(box);
	.box-align(center);
	.box-pack(center);
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(237, 195, 0, 1);
	// display: none;
}

.loading-box {
	
	text-align: center;

}