// 弹框遮罩
.mask-wrap {
	.size(100%);
	.perspective(400px);
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(21, 17, 30, 0.5);
	display: none;

	.mask-card { // 结果卡片
		.scale(0);
		.rotateZ(0);
		.translateY(-50%);
		position: relative;
		top: 50%;
		width: 73%;
		max-width: 550px;
		display: none;
		background: #edc300 url("/assets/img/mask_card_bg.png") center 6.8% no-repeat;
		background-size: 81%;
		margin: auto;
		border-radius: 5px;
		opacity: 0;
		.mask-close { // 增大点击区域
			.absolute(0, 0, _, _);
			z-index: 9;
			width: 60px;
			text-align: center;
			img {width: 20px;}
		}
		.mask-rst-wrap {
			color: #fff;
			font-size: 12px;
			text-align: center;
			line-height: 24px;
			padding-top: 10%;
			p {
				.ellipsis(2);
				padding: 0 10px;
			}
			em {
				color: #fe4c11;
			}
		}
		.mask-fn-btn {
			.size(282 / 550 * 100%, 38px);
			.display(box);
			.box-pack(center);
			.box-align(center);
			margin:9.28% auto 0;
			color: #ffe4be;
			font-size: 16px;
			background: url("/assets/img/mask_card_btn.png") center center no-repeat;
			background-size: contain;
			p {
				width: 100%;
				height: 100%;
				text-align: center;
				line-height: 38px;
			}
		}
		.mask-tip {
			text-align: center;
			color: #c04d00;
			font-size: 12px;
			padding-top: 4.28%;
			padding-bottom: 4.28%;
		}
	}
	.mask-loading { // ajax loading
		.size(100%);
		.absolute(0, _, _, 0);
		z-index: 16;
		display: none;
		.mask-img-wrap {
			.size(100%);
			padding-top: 0;
			margin: auto;
			position: relative;
		}
	}
	.mask-dialog { // 弹框
		.size(100%);
		.absolute(0,_,_,0);
		max-width: 550px;
		margin: auto;
		display: none;
		.dialog-box {
			.absolute(50%, _, _, 50%);
			.transform(translateX(-50%) translateY(-50%));
			background-color: #fff;
			width: 73%;
			min-width: 300px;
			padding-top: 6%;
			border-radius: 6px;
			overflow: hidden;
			vertical-align: middle;
			display: none;
			p {
				text-align: center;
				font-size: 14px;
				color: #262626;
				line-height: 2em;
				padding: 0 20px;
			}
		}
		.dialog-btn-wrap {
			.display(box);
			.box-pack(justify);
			.box-align(center);
			width: 100%;
			border-top: 1px solid #ddd;
			font-size: 16px;
			margin-top: 6%;
			a {
				display: block;
				width: 50%;
				text-align: center;
				color: #515151;
				padding: 2.47% 0;
				border-right: 1px solid #ddd;
				text-decoration: none;
				&:active {
					background-color: darken(#fff, 10%);
				}
				&:last-of-type, &.btn-block{
					border-right: none;
				}
				&.btn-block {
					width: 100%;
				}
			}
		}
	}
	.mask-img-wrap {
		text-align: center;
		padding-top: 6.14%;
		position: relative;
		.suprise-icon{
			margin: auto;
			display: block;
			.animation(loading-shake 1s linear infinite);
		}
		.loading-center-icon {
			.absolute(0, 0, 0, 0);
			margin: auto;
		}

	}
}

// ajax 初始化加载失败
.fail-wrap {
	.size(100%);
	.display(box);
	.box-pack(center);
	.box-align(center);
	background: rgba(237, 195, 0, 1);
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	display: none;
	.fail-item {
		.size(100%);
		.absolute(0, _, _, 0);
		.display(box);
		.box-orient(vertical);
		.box-pack(center);
		.box-align(center);
	}
	.suprise-icon {
		.animation(none);
	}
	p {
		padding: 10px;
	}
	.reload-btn {
		color: #000;
		&:active {
			color: lighten(#000, 30%);
		}
	}
}