@import url("./est/all.less");
@import url("./animation.less");
@import url("./icon_spirte.less");
@use-autoprefixer: false;

.global-reset();

html {
	height: 100%;
	.user-select(none);
}
body {
	font-family:'Microsoft Yahei','Simsun','Helvetica';
	min-height: 100%;
	overflow: auto;
	position: relative;
	background-color: #29213a;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@import url("./loading.less");
@import url("./mask.less");

.resize-wrap {
	min-width: 320px;
	max-width: 750px;
	margin:auto;
	background: #29213a url("/assets/img/main_bg.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	// overflow: hidden;
}

.main-wrap {

	width: 100%;
	margin: auto;

	a, div {
		display: block;
		// position: absolute;
	}
	.close-btn {
		width: 18px;
		height: 18px;
		background: url("/assets/img/close_btn.png")  center center no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.cup-box {
		width: 79.4%;
		margin: auto;
		img {
			width: 100%;
		}
	}
	.counter-box {
		.size(91.6%, auto);
		.clearfix();
		position: relative;
		margin: auto;
		font-size: 12px;
		line-height: 16px;
		padding-top: 10px;
		padding-bottom: 6px;
		color: #fff;
		text-align: center;
		em {
			font-size: 1.14em;
			padding: 0 5px;
		}
		.switch-card {
			position: absolute;
			right: 0;
			top: 10px;
			color: #5ca17a;
			text-decoration: none;
			&:active {
				color: lighten(#5ca17a, 10%);
			}
		}
	}
}

.card-box-wrap {
	.perspective(400px);
	width: 91.6%;
	position: relative;
	margin: auto;
	border-radius: 4px;
	background-color: #fff8e3;
	.card-box-list {
		.size(97%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: #ccc;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 8px;
		overflow: hidden;
	}
	.card-item {
		background-color: #ccc;
		background-repeat: no-repeat;
		position: absolute;
		// 添加可以翻动的样式
		&.can-flip {
			.box-shadow(0px 0px 0px 2px #edce00);
			.animation(flash-shadow 1s linear infinite);
		}
	}
}

.footer-tip-box {
	width: 88%;
	margin: auto;
	padding: 15px 0;
	color: #fff;
	font-size: 12px;
	line-height: 24 / 14em;
	a {
		.inline-block();
		padding:0 18px;
		color: #6ac18a;
		&:active {
			color: #6ac18a * 0.8;
		}
	}
	p:last-of-type {
		padding-top: 4px;
	}
}